<form autocomplete="off" #editAirportModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "EditAirport" | localize }}</h1>
    <mat-dialog-content style="width:800px;height:250px;">
        <mat-tab-group>
            <mat-tab [label]="'AirportDetails' | localize">
                <br />
                <div class="row-fluid">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput
                                   name="AirportCode"
                                   [placeholder]="'AirportCode' | localize"
                                   [(ngModel)]="airport.code"
                                   required
                                   maxlength="3" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   name="AirportName"
                                   [placeholder]="'AirportName' | localize"
                                   [(ngModel)]="airport.name"
                                   required
                                   minlength="2"
                                   maxlength="50" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   name="AirportAddress"
                                   [placeholder]="'AirportAddress' | localize"
                                   [(ngModel)]="airport.address"
                                   required
                                   minlength="2"
                                   maxlength="200" />
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'AirportPlanes' | localize">
                <br />
                <div class="row-fluid">
                    <ng-template ngFor let-plane [ngForOf]="planes">
                        <div class="col-sm-6">
                            {{ plane.name }}
                        </div>
                    </ng-template>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!editAirportModal.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>
