<form autocomplete="off" #createPilotModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "CreateNewPilot" | localize }}</h1>
    <mat-dialog-content style="width:800px;height:500px;">
        <mat-tab-group>
            <mat-tab [label]="'PilotDetails' | localize">
                <br />
                <div class="row-fluid">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput
                                   name="PilotCode"
                                   [placeholder]="'PilotCode' | localize"
                                   [(ngModel)]="pilot.code"
                                   required
                                   maxlength="10" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   name="PilotNum"
                                   [placeholder]="'PilotNum' | localize"
                                   [(ngModel)]="pilot.num"
                                   required
                                   minlength="2"
                                   maxlength="20" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   name="PilotName"
                                   [placeholder]="'PilotName' | localize"
                                   [(ngModel)]="pilot.name"
                                   minlength="2"
                                   maxlength="50" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   name="PilotAddress"
                                   [placeholder]="'PilotAddress' | localize"
                                   [(ngModel)]="pilot.address"
                                   required
                                   minlength="2"
                                   maxlength="200" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select [(ngModel)]="pilot.airportId"
                                        name="AirportId"
                                        [placeholder]="'PilotAirport' | localize"
                                        required>
                                <mat-option *ngFor="let airport of airports" [value]="airport.id">
                                    {{airport.code}}: {{airport.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'PilotPlanes' | localize">
                <br />
                <div class="body table-responsive">
                    <table class="table table-hover table-striped" [busy]="isTableLoading">
                        <thead>
                            <tr>
                                <th>{{ "Plane" | localize }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                                let plane of (planes
                                  | paginate
                                    : {
                                        id: 'server',
                                        itemsPerPage: pageSize,
                                        currentPage: pageNumber,
                                        totalItems: totalItems
                                      })
                                ">
                                <td>
                                    <mat-checkbox [checked]="isPlaneChecked(plane.id)"
                                                  (change)="onPlaneChange(plane, $event)">
                                        {{ plane.brand }} {{ plane.model }} ({{ plane.tailNumber }})
                                    </mat-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                        <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                        </abp-pagination-controls>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!createPilotModal.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>
