<form autocomplete="off" #editPlaneModal="ngForm" (ngSubmit)="save()">
    <h1 mat-dialog-title>{{ "EditPlane" | localize }}</h1>
    <mat-dialog-content style="width:800px;height:500px;">
        <mat-tab-group>
            <mat-tab [label]="'PlaneDetails' | localize">
                <br />
                <div class="row-fluid">
                    <div class="col-md-6">
                        <mat-form-field>
                            <input matInput
                                   name="PlaneCode"
                                   [placeholder]="'PlaneCode' | localize"
                                   [(ngModel)]="plane.code"
                                   required
                                   maxlength="10" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select [(ngModel)]="plane.type"
                                        name="PlaneType"
                                        [placeholder]="'PlaneType' | localize"
                                        required>
                                <mat-option *ngFor="let type of planeTypes" [value]="type">
                                    {{type}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   name="PlaneTailNumber"
                                   [placeholder]="'PlaneTailNumber' | localize"
                                   [(ngModel)]="plane.tailNumber"
                                   required
                                   minlength="2"
                                   maxlength="20" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   name="PlaneBrand"
                                   [placeholder]="'PlaneBrand' | localize"
                                   [(ngModel)]="plane.brand"
                                   required
                                   minlength="2"
                                   maxlength="20" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   name="PlaneModel"
                                   [placeholder]="'PlaneModel' | localize"
                                   [(ngModel)]="plane.model"
                                   required
                                   minlength="2"
                                   maxlength="20" />
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput
                                   name="PlaneName"
                                   [placeholder]="'PlaneName' | localize"
                                   [(ngModel)]="plane.name"
                                   minlength="2"
                                   maxlength="200" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select [(ngModel)]="plane.airportId"
                                        name="AirportId"
                                        [placeholder]="'PlaneAirport' | localize"
                                        required>
                                <mat-option *ngFor="let airport of airports" [value]="airport.id">
                                    {{airport.code}}: {{airport.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [label]="'PlanePilots' | localize">
                <br />
                <div class="body table-responsive">
                    <table class="table table-hover table-striped" [busy]="isTableLoading">
                        <thead>
                            <tr>
                                <th>{{ "PilotName" | localize }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                                let pilot of (pilots
                                  | paginate
                                    : {
                                        id: 'server',
                                        itemsPerPage: pageSize,
                                        currentPage: pageNumber,
                                        totalItems: totalItems
                                      })
                                ">
                                <td>
                                    <mat-checkbox [checked]="isPilotChecked(pilot.id)"
                                                  (change)="onPilotChange(pilot, $event)">
                                        {{ pilot.name }}
                                    </mat-checkbox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                        <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                        </abp-pagination-controls>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-dialog-content>
    <div mat-dialog-actions align="end">
        <button mat-button type="button" [disabled]="saving" (click)="close(false)">
            {{ "Cancel" | localize }}
        </button>
        <button mat-flat-button
                type="submit"
                flex="15"
                color="primary"
                [disabled]="!editPlaneModal.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</form>
